name: Lint, format and test code
on:
  workflow_dispatch:
  pull_request:
    paths:
      - layer/**
      - .github/workflows/ci_code.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check for changes
        uses: dorny/paths-filter@7267a8516b6f92bdb098633497bad573efdbf271 # v2.12.0
        id: filter
        with:
          filters: |
            changes:
              - 'layer/**'
              - '.github/workflows/ci_code.yml'

      - name: Exit if no changes
        if: ${{ steps.filter.outputs.changes == 'false' }}
        run: |
          echo "No changes detected, skipping tests."
          exit 0

      - name: Setup python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: ${{ matrix.python }}

      - name: Install dev dependencies
        working-directory: layer
        run: make install-dev

      - name: Install dependencies
        working-directory: layer
        run: make install

      - name: Lint
        working-directory: layer
        run: make lint-ci

      - name: Format
        working-directory: layer
        run: make fmt-ci

      - name: Test
        working-directory: layer
        run: make test
